.wrapper{ margin: 0 auto; padding: 0 20px 15px;}
.App-header{font-weight: bold;}
.footer{text-align: center; padding: 10px;}

@media (min-width: 1024px) {
	.productListing .productbox:nth-last-child(1),
    .productListing .productbox:nth-last-child(2),
    .productListing .productbox:nth-last-child(3),
    .productListing .productbox:nth-last-child(4){ margin-bottom: 0;}
}

@media (min-width: 701px) and (max-width: 1024px) {
	.left-sidebar{ width: 33%;}
    .right-sidebar{ width:calc(67% - 20px);}
    .productListing .productbox{ flex: 0 0 48%; }
    .productListing .productbox:nth-last-child(1),
    .productListing .productbox:nth-last-child(2){ margin-bottom: 0;}
}

@media (max-width: 700px) {
    .wrapper{ flex-direction: column; padding: 15px 15px 0;}
    .left-sidebar{ width: 100%; margin-bottom: 20px; margin-right: 0;}
    .filterbox{padding: 5%;}
    .right-sidebar{ width: 100%;}
    .productListing .productbox{ flex: 0 0 100%; padding: 15px 3.5%;}
}


